<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <h1>Авторизованный пользователь: {{userFirstName}} {{userLastName}}</h1>
    <h3>Друзья авторизованного пользователя:</h3>
    <ol>
        {{#each listOfFriends}}
        <li>{{this.first_name}} {{this.last_name}}</li>
        {{/each}}
    </ol>
</body>

</html>